<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Async Poker</a></h1>
      <h2><a href="/signup">Signup</a></h2>
      <h2><a href="/login">Login</a></h2>
    </header>
    {{{body}}}
  </body>
</html>
